@import 'config';

$outputTokenCSS: false;
@import '../../node_modules/gorko/gorko.scss';

@import 'var';
@import 'reset';
@import 'base';
@import 'type';

@import 'blocks/btn';
@import 'blocks/page-content';

@import 'utilities/auto-grid';
@import 'utilities/flow';
@import 'utilities/full-bleed';
@import 'utilities/reel';
@import 'utilities/container';
@import 'utilities/line-clamp';
@import 'utilities/image-overlay';
@import 'utilities/split';
@import 'utilities/cluster';
@import 'utilities/cluster';
@import 'utilities/aspect-ratio';



select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: .6em 1em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    // ...existing styles
    outline: none;
}

select::-ms-expand {
    display: none;
}

.select {
    width: 100%;
    width: 100%;
    border: 1px solid get-color('light-shade-dark');
    @include apply-utility('rounded','small');
    cursor: pointer;
    background-color: get-color('light-glare');
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: get-color('primary');
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    margin-right: 1em;
}

select,
.select:after {
    grid-area: select;
}

input{
    border: 1px solid get-color('light-shade-dark');
    font-size: get-size('xs');
    padding: .6em 1em;
    @include apply-utility('rounded','small');
    width: 100%;
    font-size: inherit;
    background-color: get-color('light-glare');
    
    &:focus{
        outline: 1px solid get-color('secondary');
    }
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    outline: 1px solid get-color('secondary');
    border-radius: inherit;
}

.underline{
    text-decoration: underline !important;
}


.header-animation-trigger {
	height: 725px;
	width: 100%;
	position: absolute;
	top: 140px;
	left: 0;
    @include media-query('md') {
		height: 1310px;
	}
	@include media-query('lg') {
		height: 1160px;
	}
}